<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <appSettings>
    <add key="ChartImageHandler" value="storage=file;timeout=20;dir=c:\TempImageFiles\;"/>
  </appSettings>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="ChartImageHandler"/>
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
    </handlers>
  </system.webServer>
  <connectionStrings>
    <add name="PartnersConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Partners.mdf;Integrated Security=True" providerName="System.Data.SqlClient"/>
    <add name="personalizationConnectionString" connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\ASPNETDB.MDF;Integrated Security=True"  providerName="System.Web.Profile.SqlProfileProvider"/>
  </connectionStrings>
  <system.web>
    <customErrors mode="On" defaultRedirect="Error.html"></customErrors>
    <roleManager enabled="true"/>
    <authentication mode="Forms">
      <forms loginUrl="Membership/Login.aspx"/>
    </authentication>
    <profile>
      <!--<profile enabled="True" defaultProvider="NewAspNetSqlProfileProvider">
      <providers>
        <add name="NewAspNetSqlProfileProvider" connectionStringName="personalizationConnectionString" 
              applicationName="/" type="System.Web.Profile.SqlProfileProvider, System.Web, Version=2.0.0.0, 
              Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
      </providers>-->
      <properties>
        <add name="FirstName" type="String"/>
        <add name="LastName" type="String"/>
        <add name="BirthDate" type="System.DateTime"/>
        <add name="ShoeSize" type="Decimal"/>
        <add name="preferredTheme" type="String"/>

        <group name="Address">
          <add name="Street" type="String"/>
          <add name="City" type="String"/>
          <add name="State" type="String"/>
          <add name="Zip" type="String"/>
          <add name="Country" type="String"/>
        </group>
      </properties>
    </profile>
    
    
    <httpHandlers>
      <add path="ChartImg.axd" verb="GET,HEAD,POST" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="4.0">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit"/>
      </controls>
    </pages>
  </system.web>
  
  
  <location path="Membership/Admin.aspx">
    <system.web>
      <authorization>
        <allow roles="Admin"/>
        <deny roles="User"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Membership/CreateUser.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Membership/RecoverPassword.aspx">
    <system.web>
      <authorization>
        <allow users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Membership">
    <system.web>
      <authorization>
        <allow roles="Admin,User"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <system.net>
    <mailSettings>
      <smtp from="partners@usu.edu"/>
    </mailSettings>
  </system.net>
  <location path="Reports">
    <system.web>
      <authorization>
        <allow roles="Admin,User"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  
</configuration>